<!DOCTYPE html>
<html>
<body class="text-center">
    {{req.user}}
    </br>
    <a aria-pressed="true" role="button" class="btn btn-outline-primary" href="/personal">Get Personal Infomation</a>
    &nbsp;
    <a aria-pressed="true" role="button" class="btn btn-outline-primary" href="/web">Add FIDO</a>
    &nbsp;
    <form action="/logout" method="get"><button class="btn btn-outline-danger" type="submit">logout</button></form>
</body>
</html>

