<!DOCTYPE html>
<html>
<body class="text-center">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="emailadd" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputFullName" class="sr-only">Full Name</label>
    <input type="fullName" id="inputFullName" class="form-control" placeholder="Full Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="passwd" id="inputPassword" class="form-control" placeholder="Password" required>
    </br>
    <button id="postRegister" class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </br>
    <a aria-pressed="true" role="button" class="btn btn-outline-primary" href="/">Login</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</body>
</html>

